* {
  background-color: #d0ede8;
}

.contain {
  text-align: center;
  width: 300px;
  border: 25px;
  border-style: solid;
  border-color: #718dbc;
  padding: 25px;
  margin: 0px auto;
  margin-left: auto;
  margin-right: auto;
}

.github-button {
  text-align: left;
}

.home-title {
  font-size: 3em;
  color: #214a8c;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.small-home-title {
  text-align: center;
  font-family: 'Asap', sans-serif;
}

.list-title {
  color: #214a8c;
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
}

.list-align {
  text-align: left;
}

.list {
  color: #214a8c;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

.list-ind {
  color: #434f63;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
}

.res-title {
  font-size: 3em;
}

.exp-title {
  font-size: 3em;
  color: #214a8c;
}

.obj-title {
  font-size: 1em;
}

.bold-text {
  font-weight: bold;
}

.class-title {
  font-size: 2em;
  text-align: left;
}

.thumb {
  height: 100px;
  width: 100px;
}

/* Flexbox code starts here */

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-direction: row;
  background-color: #e5fff7;
  border: 2px;
  font-family: 'Asap', sans-serif;
}

.navbar > div {
  background-color: #a4d6c7;
  width: auto;
  margin: 10px auto;
  text-align: center;
  line-height: 90px;
  font-size: 20px;
}

div > a {
  background-color: #a4d6c7;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #718dbc;
}

.flex > div {
  background-color: #a4d6c7;
  width: auto;
  margin: 10px;
  line-height: 90px;
  font-size: 30px;
}

.distro-image {
  height: 6em;
  width: 14em;
}

.distro-list-title {
  line-height: 0px;
  font-size: 1em;
  background-color: #a4d6c7;
  font-family: 'Permanent Marker', cursive;
}

.distro-list {
  line-height: 1em;
  font-size: .75em;
  background-color: #a4d6c7;
  font-weight: bold;
  font-family: 'Asap', sans-serif;
}

.header {
  padding: 40px;
  text-align: center;
  background-color: inherit;
  color: black;
  font-size: 30px;
}

.header-text {
  font-size: 2em;
  font-family: 'Permanent Marker', cursive;
}

.header-subtext {
  font-size: 1em;
  font-family: 'Permanent Marker', cursive;
}

.sidebar {
  width: 130px;
  position: static;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidebar a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  display: block;
  font-family: 'Asap', sans-serif;
}

.sidebar a:hover {
  color: white;
}

.footer {
  text-align: center;
  font-weight: bold;
  font-family: 'Asap', sans-serif;
  background-color: #BCCCCA;
}

.footer-link {
  background-color: #BCCCCA;
}
